body {
  color: black;
  background-image: linear-gradient(to bottom, white, whitesmoke);
}

.MainPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 8px;
  padding: 16px 8px;
}

@media (max-width: 767px) {
  .MainPage {
    padding: 12px 8px;
    gap: 12px;
  }
}


