:root {
  --text-color: black;
  --bg-gradient-start: white;
  --bg-gradient-end: whitesmoke;
}

.dark {
  --text-color: white;
  --bg-gradient-start: #1a202c;
  --bg-gradient-end: #2d3748;
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, var(--bg-gradient-start), var(--bg-gradient-end));
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}

.content h1 {
  font-size: 2rem;
  font-weight: 700;
}

@media (min-width: 480px) {
  .content h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .content h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .content h1 {
    font-size: 3.6rem;
  }
}

.content p {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .content p {
    font-size: 1.2rem;
  }
}
