:root {
  --text-color: black;
  --bg-gradient-start: white;
  --bg-gradient-end: whitesmoke;
}

.dark {
  --text-color: white;
  --bg-gradient-start: #1a202c;
  --bg-gradient-end: #2d3748;
}

body {
  color: var(--text-color);
  background-image: linear-gradient(to bottom, var(--bg-gradient-start), var(--bg-gradient-end));
}

.MainPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 8px;
  font-size: 24px;
}


